@CHARSET "ISO-8859-1";
h3{
	margin-bottom: 5px;
	margin-top: 5px;
}
/*#imagecontainer{
	position:relative;
    display:inline-block;
    overflow:hidden;
	
}
#imagecontainer img{
	position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}*/
img{
    height: auto;
    max-width: 100%;

}